 html {
  scroll-behavior: smooth;
   overflow-y: scroll;
}

body {
  background: #28384f;
  height: 100%;
  width: 100%;
}

.img-responsive { 
  max-width:100%;
}

.section{
  height: 100%;
  margin-left: 20%;
  margin-right: 20%;
}


/*--- navigation bar ---*/
.navbar {
  background:#6ab446;
  margin-left: 20%;
  margin-right: 20%;
}

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

/*--- about ---*/
.mich{
  color:#1313FE ;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:black;
}

.popup .popuptext {
  visibility: hidden;
  width: 170px;
  background-color: #28384f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*--- share ---*/
.title{
  font-family: 'Kalam', cursive;
  font-size: 40px;
}
.duration{
  color:#787777;
  font-size: 20px;
}
.content{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  line-height: 30px;
 }

.content_intro{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  line-height: 40px;
 }
.bodyy{
  background-color:  #F7F7F6;
}

.bodyy_2{
  background-color:  #d8d8d8;
}


.bodypad{
  padding-top: 5%;
  padding-bottom: 5%;
}

.icon{
  padding-bottom: 2%;
}
/*--- work ---*/


.content_text_work{
  background: #d8d8d8;
  position: relative;
  text-align: left;
}

/*--- skills ---*/
.content_text_skills{
  background: #F7F7F6;
  position: relative;
  text-align: left;
}

/*--- awards ---*/
.content_text_soa{
  background: #F7F7F6;
  position: relative;
  text-align: left;
}

/*--- project ---*/
.content_text_project{
  background: #d8d8d8;
  position: relative;
  text-align: left;
}

/*--- activities ---*/
.content_text{
  background: #F7F7F6;
  position: relative;
  text-align: left;
}
 /*--- slider ---*/


.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media only screen and (max-width: 900px) and (min-width: 0px){
.title{
  font-family: 'Kalam', cursive;
  font-size: 20px;
}
.duration{
  color:#787777;
  font-size: 10px;
}
.content{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
  line-height: 20px;
 }

.content_intro{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
  line-height: 20px;
 }
}


